:root{
	--ff-prim: Outfit, sans-serif;
	--clr-light-gray: #D5E1EF;
	--clr-dark-navy: #1F314F;
	--clr-gray: #7D889E;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	block-size: 100%;
}
body{
	display: grid;
	place-items: center;
	background-color: var(--clr-light-gray);
	font-family: var(--ff-prim);
}
main{
	inline-size: min(320px, 100%);
}
.qr{
	padding: 16px 16px 40px;
	background-color: white;
	text-align: center;
	border-radius: 20px;
	&__img{
		display: block;
		inline-size: 100%;
		object-fit: cover;
		margin-block-end: 24px;
		border-radius: 10px;
	}
	&__title{
		margin-block-end: 16px;
		color: var(--clr-dark-navy);
		font-size: 22px;
		font-weight: 700;		
	}
	&__text{
		inline-size: 256px;
		margin-inline: auto;
		color: var(--clr-gray);
		font-size: 15px;
		letter-spacing: .19px;
	}
}